<div class="grafico"><h1>Bienvenidos Al Simulador</h1></div>

<div class="grafico">
  <h2>Clientes</h2>
  <!-- Chart doughnut for clients -->
  <div class="chartContainer">
    <canvas id="canvas-doughnut-client" width="400" height="400">{{
      chartDoughnutClient
    }}</canvas>
  </div>

  <!-- Chart bar for clients -->
  <div class="chartContainer">
    <canvas id="canvas-bar-client" width="400" height="400">{{
      chartBarClient
    }}</canvas>
  </div>
</div>

<div class="grafico">
  <h2>Cuentas</h2>
  <!-- Chart doughnut for accounts -->
  <div class="chartContainer">
    <canvas id="canvas-doughnut-account" width="400" height="400">{{
      chartDoughnutAccount
    }}</canvas>
  </div>

  <!-- Chart bar for accounts -->
  <div class="chartContainer">
    <canvas id="canvas-bar-account" width="400" height="400">{{
      chartBarAccount
    }}</canvas>
  </div>
</div>

<div class="grafico">
  <h2>Movimientos</h2>
  <!-- Chart doughnut for movements -->
  <div class="chartContainer">
    <canvas id="canvas-doughnut-movement" width="400" height="400">{{
      chartDoughnutMovement
    }}</canvas>
  </div>

  <!-- Chart bar for movements -->
  <div class="chartContainer">
    <canvas id="canvas-bar-movement" width="400" height="400">{{
      chartBarMovement
    }}</canvas>
  </div>
</div>
